<ul class="list-unstyled">
  {{#each blogPages }}
    {{#each items}}
      <li>
        <article>
          <h3><a href="{{$path}}">{{title}}</a></h3>
          <p>
            <i>{{formatDate created_at}}</i> – {{description}}
          </p>
          <p>
            <a class="btn btn-primary" href="{{$path}}">Read</a>
          </p>
          <br/>
        </article>
      </li>
    {{/each  }}
  {{/each  }}
</ul>


{{#if blogPages.length}}
<ul class="pagination">
{{#each blogPages }}
  {{#ifCurrent $path }}
    <li class="active"><span>{{page}}</span></li>
  {{else}}
    <li><a href="{{$path}}">{{page}}</a></li>
  {{/ifCurrent}}
{{/each  }}
</ul>
{{/if}}