---
title: "Docs"
description: "Mobile Angular UI Documentation"
toc: true
nav: true
---

<section>
{{# md}}
## Getting Started

{{doc 'getting-started/installation'}}
<br/><br/>
{{doc 'getting-started/initialization'}}
<br/><br/>
{{doc 'getting-started/basic-layout'}}
<br/><br/>
{{doc 'getting-started/differences-with-bootstrap-3'}}
<br/><br/>

{{/md}}
</section>

<section>
{{#md}}
## Angular Directives

Before going ahead with components you may want to familiarize with some basic mobile angular ui directives.

{{doc 'directives/scrollable'}}
<br/><br/>
{{doc 'directives/toggle'}}
<br/><br/>
{{doc 'directives/content-for'}}
<br/><br/>
{{/md}}
</section>

<section>
{{#md}}
## Components

{{doc 'components/navbars'}}
<br/><br/>
{{doc 'components/sidebars'}}
<br/><br/>
{{doc 'components/tabs'}}
<br/><br/>
{{doc 'components/accordion'}}
<br/><br/>
{{doc 'components/overlays'}}
<br/><br/>
{{doc 'components/dropdowns'}}
<br/><br/>
{{doc 'components/carousels'}}
<br/><br/>
{{doc 'components/switches'}}
{{/md}}
</section>


<section>
{{#md}}
## Utils

{{doc 'utils/justified-blocks'}}
<br/>
{{doc 'utils/form-helpers'}}
<br/>
{{doc 'utils/panel-helpers'}}
{{/md}}
</section>
