---
title: "Docs"
description: "Mobile Angular UI Documentation"
toc: true
nav: true
---

<div id="docs-page">
  
<div class="alert alert-info"><i class='fa fa-warning'></i> This documentation is for the current version (v1.2). If you are looking for old v1.1 documentation you can find it <a href="/docs-v1.1">here</a>.</div>

<section>
{{# md}}
## Getting Started

{{doc '1.2/getting-started/installation'}}

{{doc '1.2/getting-started/initialization'}}

{{doc '1.2/getting-started/basic-layout'}}

{{doc '1.2/getting-started/support'}}

{{doc '1.2/getting-started/differences-with-bootstrap-3'}}

{{/md}}
</section>

<section>
{{# md}}
## Modules

{{doc '1.2/modules/overview'}}
{{doc '1.2/modules/core'}}
{{doc '1.2/modules/core/active-links' }}
{{doc '1.2/modules/core/capture' }}
{{doc '1.2/modules/core/fastclick' }}
{{doc '1.2/modules/core/outer-click' }}
{{doc '1.2/modules/core/shared-state' }}
{{doc '1.2/modules/core/ui' }}

{{/md}}
</section>

</div>
