---
title: "Docs"
description: "Mobile Angular UI Documentation"
toc: true
nav: true
---

<div id="docs-page">
  
<div class="alert alert-info"><i class='fa fa-warning'></i> This documentation is for the current version (v1.2). If you are looking for old v1.1 documentation you can find it <a href="/docs-v1.1">here</a>.</div>

<section>
{{# md}}
## Getting Started

{{doc '1.2/getting-started/installation'}}
<hr>
{{doc '1.2/getting-started/initialization'}}
<hr>
{{doc '1.2/getting-started/basic-layout'}}
<hr>
{{doc '1.2/getting-started/support'}}
<hr>
{{doc '1.2/getting-started/differences-with-bootstrap-3'}}
<hr>

{{/md}}
</section>

<section>
{{# md}}

{{doc '1.2/modules/overview'}}
<hr>
{{doc '1.2/modules/core'}}
<hr>
{{doc '1.2/modules/core/active-links' }}
<hr>
{{doc '1.2/modules/core/capture' }}
<hr>
{{doc '1.2/modules/core/fastclick' }}
<hr>
{{doc '1.2/modules/core/outer-click' }}
<hr>
{{doc '1.2/modules/core/shared-state' }}
<hr>

{{doc '1.2/modules/components'}}
<hr>
{{doc '1.2/modules/components/modals' }}
<hr>
{{doc '1.2/modules/components/navbars' }}
<hr>
{{doc '1.2/modules/components/scrollable-areas' }}
<hr>
{{doc '1.2/modules/components/sidebars' }}
<hr>
{{doc '1.2/modules/components/switches' }}
<hr>

{{doc '1.2/modules/gestures'}}

{{doc '1.2/modules/gestures/swipe' }}
<hr>
{{doc '1.2/modules/gestures/drag' }}
<hr>
{{doc '1.2/modules/gestures/transform' }}

<hr>
{{/md}}
</section>

<section>
{{# md}}
## Utils

Utils contains just css shorthands to achieve mobile-friendly layouts.

{{doc '1.2/utils/sections' }}
{{doc '1.2/utils/justified-blocks' }}

{{/md}}
</section>


<section>
{{# md}}
## Recipes

Since `mobile-angular-ui` exposes low level primitives to create components the following is a list of snippets to create most common components for an UI.

You can easily implement your own or invent different ones. As you will notice they will be just html snippets, similar to what you could achieve with an higher level css+js framework like Bootstrap, jquery Mobile etc. 

{{doc '1.2/recipes/tabs' }}
<hr>

{{doc '1.2/recipes/accordion' }}
<hr>

{{doc '1.2/recipes/dropdowns' }}
<hr>

{{doc '1.2/recipes/segmented-navigation' }}


{{/md}}
</section>


</div>
