---
title: "Docs"
description: "Mobile Angular UI Documentation"
toc: true
nav: true
---

<section>
{{# md}}
## Getting Started

{{doc 'getting-started/installation'}}
{{doc 'getting-started/initialization'}}
{{doc 'getting-started/basic-layout'}}
{{doc 'getting-started/differences-with-bootstrap-3'}}

{{/md}}
</section>

<section>
{{#md}}
## Angular Directives

Before going ahead with components you may want to familiarize with some basic mobile angular ui directives.

{{doc 'directives/scrollable'}}
{{doc 'directives/toggle'}}
{{doc 'directives/content-for'}}
{{/md}}
</section>

<section>
{{#md}}
## Components

{{doc 'components/navbars'}}
{{doc 'components/sidebars'}}
{{doc 'components/tabs'}}
{{doc 'components/accordion'}}
{{doc 'components/overlays'}}
{{doc 'components/dropdowns'}}
{{doc 'components/carousels'}}
{{doc 'components/switches'}}
{{/md}}
</section>


<section>
{{#md}}
## Utils

{{doc 'utils/justified-blocks'}}
{{doc 'utils/form-helpers'}}
{{doc 'utils/panel-helpers'}}
{{/md}}
</section>
