<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Maurizio Casimirri (http://github.com/mcasimir)">
{{#if isHome }}
<title>{{config 'site_title'}} - {{config 'site_tagline'}}</title>
<meta itemprop="name" name="twitter:title" property="og:title" content="{{config 'site_title'}} - {{config 'site_tagline'}}" />
{{else}}
<title>{{$current.title}} | {{config 'site_title'}}</title>
{{/if}}
{{#if $current.description}}
<meta itemprop="description" name="description" property="og:description" content="{{$current.description}}" />
<meta name="twitter:description" content="{{$current.description}}" />
{{/if}}
{{#if $current.keywords }}<meta name="description" content="{{ $current.keywords }}" />{{/if}}
{{#if isPost }}<link rel="author" href="https://plus.google.com/+MaurizioCasimirri/posts"/>{{/if}}
<link rel="publisher" href="https://plus.google.com/+MobileangularuiGp"/>
{{#if $current.image }}
<meta name="twitter:image:src" itemprop="image" property="og:image" content="{{$current.image}}" />
{{else}}
<meta name="twitter:image:src" itemprop="image" property="og:image" content="/assets/img/og-logo.png" />
{{/if}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@mobileangularui" />
<meta name="twitter:creator" content="@mauriziocas" />
<meta property="og:site_name" content="{{config 'site_title'}}" />
{{#if isHome}}
<meta property="og:type" content="website" />
{{else}}
<meta property="og:type" content="article" />
{{/if}}
<meta property="og:url"   content="{{ url $current.$path }}" />
<link href="/assets/css/main.css" rel="stylesheet" />
<link rel="shortcut icon" href="/assets/img/favicon.png" />
<!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
